body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(27, 27, 27);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image_frame {
  display: flex;
  /* width: 330px; */
  justify-content: center;
  align-items: center;
  margin: 3vw;
}
button {
  cursor: pointer;
}
.images {
  display: flex;
  width: 100%;
  margin-bottom: 10vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5vw 0;
}
img {
  border: 30px solid transparent;
}

.gotd {
  color: rgb(97, 97, 255);
}

h1 {
  color: white;
}

header {
  position: sticky;
  width: 100%;
  background-color: rgb(27, 27, 27);
  text-align: center;
  padding: 1rem;
  top: 0vw;
}
