body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(27, 27, 27);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.images{
  display:flex;
  width:1200px;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-around;
  align-content: space-between;
  margin-top: 50px;

}
img{
  margin-bottom:30px;
}

.gotd{
  color:rgb(68, 68, 105);
}

h1{
  color:white;
}